.chat__contantainer {
  width: 100%;
  padding: 0px 63px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 39px;
}

.chat__contantainer h3 {
  margin-top: 0;
  text-align: center;
}
