.Announcement__input2 {
  all: unset;
  height: 190px;
  border: 1px solid #dbe2ea;
  margin-bottom: 27px;
}

.Announcement__input {
  all: unset;
  height: 35px;
  border: 1px solid #dbe2ea;
  margin-bottom: 27px;
}
.Admin__photo {
}

.Announcement__container {
  padding-top: 55px;
  display: flex;
  justify-content: center;
}

.Announcement__container form {
  width: 360px;
}
.Announcement__btn {
  all: unset;
  background-color: #ffed00;
  padding: 14px 0;
  width: 100%;
  color: #333333;
  font-size: 20px;
  text-align: center;
}

.Announcement__label {
  all: unset;
  border: 1px solid #3c64b1;
  width: 100%;
  color: #3c64b1;
  font-size: 14px;
  font-weight: 700;
  padding: 13px 0;
  display: flex;
  justify-content: center;
  margin-bottom: 65px;
}
.Announcement__photo__text {
  margin-bottom: 24px;
}
.Announcement__photo {
  margin-bottom: 16.5px;
}
