.admin__container {
  padding: 50px 80px 0 80px;
}
.Admin__photo {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.admin__title {
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  line-height: 18px;
  margin-bottom: 50px;
}
.Admin__wrapper__photo {
  display: flex;
  flex-direction: column;
  width: 65%;
}
.form__admin {
  display: flex;
  column-gap: 17px;
  justify-content: center;
  padding: 0 60px;
}
.input__admin {
  all: unset;
  height: 36px;
  padding: 8px;
  border: 2px solid #f4f5f4;
  border-radius: 20px;
  color: #000000;
  width: 268px;
  font-size: 18px;
  background-color: white;
  box-shadow: 0px 4px 8px 0px #2c27380a;
}
.admin__input__col_2 {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.input__admin__wrapper {
  display: flex;
  column-gap: 14px;
}
.input__admin__password {
  display: flex;
  all: unset;
  height: 36px;
  padding: 8px;
  border: 2px solid #f4f5f4;
  border-radius: 20px;
  color: #000000;
  font-size: 18px;
  background-color: white;
  width: 80%;
  box-shadow: 0px 4px 8px 0px #2c27380a;
}

